@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>This is part of the web application for managing students and courses at the college</p>
    <p>
        It uses a SQL server database. Communication and working with the database using the Entity Framework. 
        I implemented the "Repository pattern" to separate the data access logic from the rest of the application

    </p> 
    <p>
        CRUD operations are enabled for students and courses.
        Student search is possible by name and course.
        Courses can be searched by name and course code.
    </p>
</div>
